body {
  margin: 0;
  padding: 0;
  background-color:black;
  font-family:Arial, Helvetica, sans-serif;
}

.navbar {
  background-color:#333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 5px;
}

.navbar img {
  width: 50px;
  height: auto;
  margin-right: auto; /* Empuja la imagen hacia la izquierda */
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
}

.navbar-links a {
  color: lightpink;
  text-decoration: none;
  padding: 15px;
  
  display: inline-block;
}
.navbar a {
  color:aquamarine;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.content {
  margin-top: 60px;
  padding: 20px;
}

/* Estilos para las secciones */
.section {
  height: 500px; /* Altura de las secciones */
}

#inicio {
  display: flex;
  align-items: center;
  margin-top: 100px;
  background-color:lightgreen;
}
h1 {
  font-size: 60px;
  line-height: 90px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:aliceblue;
}


#acerca {
  background-color: rgb(204, 204, 204);
  color: chocolate;
}
.info {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  }
  .info-img {
  width: 50%;
  }
  .info-img img{
  width: 500px;
  height: 250px;
  }
  .info-txt {
  width: 50%;
  }
  .info-txt h1 {
  font-size: 50px;
  color: aliceblue;
  font-weight: 800;
  text-transform:uppercase;
  margin-bottom: 25px;
  }
  .info-txt p {
  font-size: 18px;
  color: aliceblue;
  margin-bottom: 10px;
  }
  .btn-2 {
  display: inline-block;
  padding: 15px 35px;
  background-color:orangered;
  color: whitesmoke;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 50px;
  }
  .btn-2:hover {
  background-color:orangered;
  }
  .header-txt a {
  font-size: 16px;
  color: #545454;
  margin-bottom: 35px;
  }

#contacto {
  background-color: #999;
}
a {
  color:aliceblue;
  cursor: pointer;
  text-decoration: line-through;
 
  }
  
/*

1 auto: El navegador determina el estilo de cursor apropiado según el contexto.
2 default: El estilo de cursor predeterminado del navegador (generalmente una flecha).
3 pointer: Un puntero, indicando que el elemento es interactivo y se puede hacer clic.
4 crosshair: Un cursor en forma de cruz, utilizado para indicar una selección de área.
5 move: Un cursor con flechas, utilizado para indicar que un elemento se puede mover.
6 text: Un cursor de texto, utilizado para indicar que se puede escribir texto en el elemento.
7 wait: Un cursor de espera, utilizado para indicar que el navegador está ocupado y se debe esperar.
8 help: Un cursor de ayuda, utilizado para indicar que se proporciona ayuda o información adicional.

*/


  a:link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:honeydew;
    }
    a:visited {
     color:gold;
    }
    a:hover {
      background-color: dimgrey;
      color:aquamarine;
      transition-property: color, background-color;
      transition-duration: 300ms, 400ms;
      transition-timing-function: ease-in, ease-out;
    }
    a:active {
     background-color: rgb(223, 63, 63);
    }
    footer {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color:aliceblue;
      color: #ccc;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .footer-icons {
      display: flex;
      justify-content: flex-end;
    }
    
    .footer-icons a {
      color: #333;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }
    
    .footer-icons a:hover {
      background-color:aliceblue;
    }
    
    .footer-icons a i {
      color: blueviolet;
    }
    
    .footer-text {
      margin-top: 5px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }