
body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #1b1717;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 5px;
  }
  
  .navbar img {
    width: 50px;
    height: auto;
    margin-right: auto; /* Empuja la imagen hacia la izquierda */
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    
    display: inline-block;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
  }

  .content {
    margin-top: 60px;
    padding: 20px;
  }
  
  /* Estilos para las secciones */
  .section {
    height: 500px; /* Altura de las secciones */
  }
  
  #inicio {
    background-color: #f1f1f1;
  }
  
  #acerca {
    background-color: #ccc;
  }
  
  #contacto {
    background-color: #999;
  }
  a {
    color: lightseagreen;
    cursor: pointer;
    text-decoration: line-through;
   
    }
    
/*

1 auto: El navegador determina el estilo de cursor apropiado según el contexto.
2 default: El estilo de cursor predeterminado del navegador (generalmente una flecha).
3 pointer: Un puntero, indicando que el elemento es interactivo y se puede hacer clic.
4 crosshair: Un cursor en forma de cruz, utilizado para indicar una selección de área.
5 move: Un cursor con flechas, utilizado para indicar que un elemento se puede mover.
6 text: Un cursor de texto, utilizado para indicar que se puede escribir texto en el elemento.
7 wait: Un cursor de espera, utilizado para indicar que el navegador está ocupado y se debe esperar.
8 help: Un cursor de ayuda, utilizado para indicar que se proporciona ayuda o información adicional.

*/


    a:link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: steelblue;
      }
      a:visited {
       color: olive;
      }
      a:hover {
        background-color: dimgrey;
        color: white;
        transition-property: color, background-color;
        transition-duration: 300ms, 400ms;
        transition-timing-function: ease-in, ease-out;
      }
      a:active {
       background-color: rgb(223, 63, 63);
      }
      footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #181515;
        color: #ccc;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .footer-icons {
        display: flex;
        justify-content: flex-end;
      }
      
      .footer-icons a {
        color: #333;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
      }
      
      .footer-icons a:hover {
        background-color: #333;
      }
      
      .footer-icons a i {
        color: #fffafa;
      }
      
      .footer-text {
        margin-top: 5px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      