* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 5px;
}

.navbar img {
  width: 50px;
  height: auto;
  margin-right: auto; /* Empuja la imagen hacia la izquierda */
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 15px;  
  display: inline-block;
}

.content {
  margin-top: 60px;
  padding: 20px;
}

/* Funciones de navbar para celular */

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: #ffffff;
  }

  .cerrar-menu {
      color: #ffffff;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-list {
      flex-direction: column;
      align-items: end;
  }

  .nav-list li a {
      color: #ecececec;
  }
}

/* Estilos para las secciones */
.section {
  height: 500px; /* Altura de las secciones */
}

/* Seccion Inicio */
#inicio {
  background-color: #181515;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.contenedor-1__img{
  width: 60%;
  align-items: flex-end;
}

.contenedor-1__text{
  width: 35%;
}

.contenedor-1__text h2{
  font-size: 40px;
  color: orange;
}

.contenedor-1__text p{
  font-size: 18px;
  margin: 40px 0;
}

.contenedor-1__text a{
  background-color: orange;
  color: #fff;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.contenedor-1__text a:hover{
  background-color: #222222;
  color: #fff;
  transition: 0.5s;
}


/* Fin de Seccion Inicio */

/* Seccion Acerca */
#acerca {
  background-color: #181515;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
}

.contenedor-2{
  background-color: #f6eedf;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f64b3c;
}

.contenedor-2__titulo{
  font-size: 25px;
  color: orange;
}

.contenedor-2__paquete{
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.paquete{
  background-color: #fff;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px 10px;
}

.paquete h3{
  font-size: 24px;
  font-weight: 100;
}

.paquete img{
  object-fit: cover;
  width: 25%;
}

.paquete h4{
  font-size: 27px;
  font-weight: 700;
}

.paquete p{
  font-size: 16px;
}

.paquete a{
  background-color: orange;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.paquete a:hover{
  background-color: #222222;
  color: #fff;
  transition: 0.2s;
}
/* Fin de seccion Acerca */

/* Seccion Contacto */
#contacto {
  background-color:#181515;
  color: #ffffff;
  font-family: 'AvenirLTStd-Book.otf', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

#contacto img{
  width: 400px;
  height: 200px;
  padding: 15px 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;  
}

#contacto h1{
  color: orange;
  padding: 5px;
  font-family: 'Pacifico', cursive;
 
  }

/* Fin de Seccion Contacto */

/*

1 auto: El navegador determina el estilo de cursor apropiado según el contexto.
2 default: El estilo de cursor predeterminado del navegador (generalmente una flecha).
3 pointer: Un puntero, indicando que el elemento es interactivo y se puede hacer clic.
4 crosshair: Un cursor en forma de cruz, utilizado para indicar una selección de área.
5 move: Un cursor con flechas, utilizado para indicar que un elemento se puede mover.
6 text: Un cursor de texto, utilizado para indicar que se puede escribir texto en el elemento.
7 wait: Un cursor de espera, utilizado para indicar que el navegador está ocupado y se debe esperar.
8 help: Un cursor de ayuda, utilizado para indicar que se proporciona ayuda o información adicional.

*/


  a:link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f5f4f4;
    }
    a:visited {
     color: rgb(255, 255, 255);
    }
    a:hover {
      background-color: orange;
      color: white;
      transition-property: color, background-color;
      transition-duration: 300ms, 400ms;
      transition-timing-function: ease-in, ease-out;
    }
    a:active {
     background-color: rgb(255, 255, 255)
    }
    footer {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #181515;
      color: #ccc;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .footer-icons {
      display: flex;
      justify-content: flex-end;
    }
    
    .footer-icons a {
      color: #333;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }
    
    .footer-icons a:hover {
      background-color: #333;
    }
    
    .footer-icons a i {
      color: #fffafa;
    }
    
    .footer-text {
      margin-top: 5px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

